<link rel="stylesheet" href="/style/user.css">
<div id="main">
  <div>
    <form name="logForm" action="/user/login" method="post">
      <div class="container">
        {{#if name}}
        <h1>Регистрация успешно прошла </h1>
        <p>Для входа в Профилль заполните форму</p>
        {{else}}
        <h1>Loginer</h1>
        {{/if}}
        <p>Please fill in correctly to enter your profile.</p>
        {{#if massage}}
        <p id="massage">{{massage}}</p>
        {{/if}}
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="psw" required />

        <hr>
        <button type="submit" class="registerbtn">Loginer</button>
      </div>
    </form>
  </div>
</div>
